In [1]:
# b = open('<file_name>','<mode>')
# b.close()
# r ->read
# x ->create
# w ->write
# a ->append

In [5]:
try:
    b = open('data.txt','x')
    b.close()
except:
    print("The file is already there")

The file is already there

In [3]:
with open('data1.txt','x') as b:
    pass

In [12]:
b = open('data.txt','r')
x = b.read()
print(x)
b.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
7.Hello World
8.Hello World

In [13]:
print(type(x))

<class 'str'>

In [14]:
y = x.split('\n')
y

['1.Hello World',
 '2.Hello World',
 '3.Hello World',
 '4.Hello World',
 '5.Hello World',
 '6.Hello World',
 '7.Hello World',
 '8.Hello World']

In [11]:
y[1]

'2.Hello World'

In [15]:
with open('data1.txt','w') as b:
    b.write('Hello World')

In [16]:
b = open('data1.txt','w')
b.write('2.Hello World')
b.close()

In [ ]:
b = open('data1.txt','a')
b.write('\n3.Hello World')
b.close()

In [ ]:
# a w x
b = open('data3.txt','a')
b.write('\n3.Hello World')
b.close()

In [17]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill +data
    
print(bill)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 4
Enter name = banana
Enter price = 100
Enter quantity = 4
Apple 300 4 1200
banana 100 4 400

In [18]:
b = open('bill.txt','w')
b.write(bill)
b.close()

In [19]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = f"{name},{price},{quantity},{total}\n"
    bill = bill +data
    
print(bill)
b = open('bill.csv','w')
b.write('Name,Price,Quantity,Total\n')
b.write(bill)
b.close()

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 200
Enter quantity = 4
Apple,300,2,600
Banana,200,4,800

In [20]:
# pip install pandas

In [21]:
import pandas as pd
b = pd.read_csv('bill.csv')
b

     Name  Price  Quantity  Total
0   Apple    300         2    600
1  Banana    200         4    800