In [1]:
# append() insert() extend()

In [4]:
a = []
a.append('Apple')
a.append('Ball')
a.append('Cat')
print(a)

['Apple', 'Ball', 'Cat']

In [5]:
a = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a.append(x)
    
print(a)

Enter n = 5
Enter x = asdas
Enter x = sdfsd
Enter x = adsasd
Enter x = gjghj
Enter x = sffd
['asdas', 'sdfsd', 'adsasd', 'gjghj', 'sffd']

In [7]:
a = ['Apple', 'Ball', 'Cat']
a.insert(1,'Ant')
print(a)

['Apple', 'Ant', 'Ball', 'Cat']

In [8]:
a = ['Apple', 'Ball', 'Cat']
b = ['Dog','Fish']
a.extend(b)
print(a)

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [10]:
# Update
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
a[0] = 'Ant'
a

['Ant', 'Ball', 'Cat', 'Dog', 'Fish']

In [11]:
# del remove() pop()

In [13]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
del a[0]
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [15]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
del a[0:4]
a

['Fish']

In [16]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
a.remove('Apple')
a

['Ball', 'Cat', 'Dog', 'Fish']

In [17]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish','Apple']
a.remove('Apple')
a

['Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [21]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish','Apple']
c = a.count('Apple')
for i in range(c):
    a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog', 'Fish']

In [22]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

a.index('Apple')

0

In [25]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish','Apple']

for i in range(len(a)):
    if a[i] == 'Apple':
        print(i)

0
5

In [26]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish','Apple']
a.pop()
a

['Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [27]:
a = ['Apple', 'Ball', 'Cat', 'Dog', 'Fish','Apple']
b = a.pop(3)
print(b)

Dog

In [35]:
a = "Apple 3 200 600\nBanana 2 100 200"
print(a)

Apple 3 200 600
Banana 2 100 200

In [36]:
x = a.split('\n')
x

['Apple 3 200 600', 'Banana 2 100 200']

In [39]:
# List inside list
a = [[1,2,3],
     [4,5,6],
     [6,7,8]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [6, 7, 8]]
<class 'list'>
3

In [ ]:
info = [['Ram',34,'Kathmandu'],
        ['Shyam',67,'Lalitpur'],
        ['Hari',67,'Bhaktapur']]

In [52]:
data = []
a = "Apple 3 200 600\nBanana 2 100 200"
x = a.split('\n')
print(x)
x[1].split()

['Apple 3 200 600', 'Banana 2 100 200']

['Banana', '2', '100', '200']

In [44]:
data = []
a = "Apple 3 200 600\nBanana 2 100 200"
x = a.split('\n')
for i in x:
    y = i.split()
    data.append(y)
    
data

[['Apple', '3', '200', '600'], ['Banana', '2', '100', '200']]

In [2]:
# WAP to create a billing system using list inside list
bill = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    s = [name,price,quantity,total]
    bill.append(s)
    
print(bill)

Enter n = 2
Enter name = Apple
Enter price = 300
Enter quantity = 2
Enter name = Banana
Enter price = 80
Enter quantity = 4
[['Apple', 300, 2, 600], ['Banana', 80, 4, 320]]

In [5]:
a = [['Ram',34,'Kathmandu'],
     ['Shyam',31,'Bhaktapur'],
     ['Sabin',35,'Lalitpur']]
name = input('Enter name = ')
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [16]:
a = [[1,2,3],
    [4,5,6],
    [7,8,9]]
a[1][2]

6

In [30]:
a = [['Ram',34,'Kathmandu'],
     ['Shyam',31,'Bhaktapur'],
     ['Sabin',35,'Lalitpur']]
name = input('Enter name = ')
# a = ['Ram',34,'Kathmandu']
for i in a:
    if name in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [28]:
 ['Sabin',35,'Lalitpur'] == "Ram"

False

In [32]:
#Update
a = [['Ram',34,'Kathmandu'],
     ['Shyam',31,'Bhaktapur'],
     ['Sabin',35,'Lalitpur']]
a[0] = ['Ramprasad', 54, 'Kathmandu']
a

[['Ramprasad', 54, 'Kathmandu'],
 ['Shyam', 31, 'Bhaktapur'],
 ['Sabin', 35, 'Lalitpur']]

In [33]:
a = [['Ram',34,'Kathmandu'],
     ['Shyam',31,'Bhaktapur'],
     ['Sabin',35,'Lalitpur']]
a[0][0] = 'Ramprasad'
a

[['Ramprasad', 34, 'Kathmandu'],
 ['Shyam', 31, 'Bhaktapur'],
 ['Sabin', 35, 'Lalitpur']]

In [34]:
a = [['Ram',34,'Kathmandu'],
     ['Shyam',31,'Bhaktapur'],
     ['Sabin',35,'Lalitpur'],
    ['Ram',34,'Kathmandu']]
name = input("Enter name = ")
for i in a:
    if name in i:
        a.remove(i)
        
print(a)

Enter name = Ram
[['Shyam', 31, 'Bhaktapur'], ['Sabin', 35, 'Lalitpur']]

In [36]:
# m = [[1,2,3],[4,5,6]]        
# WAP to create a matrix
m = []
r = int(input("Enter row = "))
c = int(input("Enter column = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
    m.append(y)
print(m)

Enter row = 2
Enter column = 1
Enter x = 2
Enter x = 3
[[2], [3]]