In [1]:
# Set
# -No indexing
# -No duplicate data
# -Unordered
# -Mutable

In [2]:
s = {1,2,3,4}
print(type(s))

<class 'set'>

In [5]:
s = {"Apple","Ball","Cat","Dog"}
print(s)

{'Ball', 'Dog', 'Cat', 'Apple'}

In [6]:
s = {1,1,2,3,4,5,6,7,5,6}
s

{1, 2, 3, 4, 5, 6, 7}

In [7]:
s = {"Apple","Ball","Cat","Dog"}
print(s[0])

TypeError: 'set' object is not subscriptable

In [10]:
s = {"Apple","Ball","Cat","Dog"}
for i in s:
    print(i)

Ball
Dog
Cat
Apple

In [14]:
s = {1}
type(s)

set

In [16]:
s = set()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    s.add(x)
s

Enter n = 3
Enter x = Apple
Enter x = Ball
Enter x = Cat

{'Apple', 'Ball', 'Cat'}

In [17]:
a = {'Apple', 'Ball', 'Cat'}
b = {'Fish'}
a.update(b)
print(a)

{'Fish', 'Ball', 'Cat', 'Apple'}

In [21]:
l =[1,1,2,3,4,5,6,7,5,6]
list(set(l))

[1, 2, 3, 4, 5, 6, 7]

In [22]:
ms = {'Ram','Gates','Jack','Jhon','Nabin','Sarita'}
apple = {'Jack','Jobs','Nabin','Ram','Sandesh','Mukesh'}

ms.intersection(apple)

{'Jack', 'Nabin', 'Ram'}

In [23]:
ms.union(apple)

{'Gates',
 'Jack',
 'Jhon',
 'Jobs',
 'Mukesh',
 'Nabin',
 'Ram',
 'Sandesh',
 'Sarita'}

In [24]:
ms = {'Ram','Gates','Jack','Jhon','Nabin','Sarita'}
apple = {'Jack','Jobs','Nabin','Ram','Sandesh','Mukesh'}
ms - apple

{'Gates', 'Jhon', 'Sarita'}

In [25]:
ms.difference(apple)

{'Gates', 'Jhon', 'Sarita'}

In [26]:
ms = {'Ram','Gates','Jack','Jhon','Nabin','Sarita'}
apple = {'Jack','Jobs','Nabin','Ram','Sandesh','Mukesh'}
apple.difference(ms)

{'Jobs', 'Mukesh', 'Sandesh'}

In [28]:
U = {'Gates','Jack','Jhon','Jobs','Mukesh','Nabin','Ram','Sandesh','Sarita','Hari','Sunita'}

ms = {'Ram','Gates','Jack','Jhon','Nabin','Sarita'}
apple = {'Jack','Jobs','Nabin','Ram','Sandesh','Mukesh'}

un = ms.union(apple)
U-un

{'Hari', 'Sunita'}

In [29]:
a = {['Ram','Gates','Jack'],['Jhon','Nabin','Sarita']}
print(a)

TypeError: unhashable type: 'list'

In [30]:
a = {('Ram','Gates','Jack'),('Jhon','Nabin','Sarita')}
print(a)

{('Ram', 'Gates', 'Jack'), ('Jhon', 'Nabin', 'Sarita')}

In [31]:
a = {('Ram','Gates','Jack'),('Jhon','Nabin','Sarita')}
print(a)

TypeError: unhashable type: 'list'

In [33]:
ms = {'Ram','Gates','Jack','Jhon','Nabin','Sarita'}
apple = {'Jack','Jobs','Nabin','Ram','Sandesh','Mukesh'}
broadway = {'Ram'}
ms.intersection(broadway,apple)

{'Ram'}

In [34]:
ms = {'Ram','Gates','Jack','Jhon','Nabin','Sarita'}
apple = {'Jack','Jobs','Nabin','Ram','Sandesh','Mukesh'}
broadway = {'Ram'}
ms.union(apple,broadway)

{'Gates',
 'Jack',
 'Jhon',
 'Jobs',
 'Mukesh',
 'Nabin',
 'Ram',
 'Sandesh',
 'Sarita'}