In [1]:
# # Tuple
# -Indexed
# -Ordered
# -Multiple and duplicate values
# -Imutable

In [3]:
a = (1,2,3,4)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4)

In [6]:
a = (1, 2, 3, 4)
print(a[0])
print(a[0:3])

1
(1, 2, 3)

In [23]:
a = (1,2,3,4,5,)
b = (6,7,8,9)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
# no append() insert() extend()
# no update
# no del pop() remove
#no sort()

In [26]:
a = ('Apple',)
print(a)
print(type(a))

('Apple',)
<class 'tuple'>

In [22]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9,)
b = list(a)
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = tuple(a)
b

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [16]:
b = "Apple"
list(b)

['A', 'p', 'p', 'l', 'e']

In [14]:
a = ()
b = "Apple"
c = a+(b,)
c

('Apple',)

In [13]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
    
print(t)

Enter n = 5
Enter x = 123
Enter x = 432
Enter x = 123
Enter x = 345
Enter x = 132
(123, 432, 123, 345, 132)

In [46]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9,)
a = list(a)
a

[(1, 2, 3, 4, 5, 6, 7, 8, 9)]

In [31]:
del a[0]

In [32]:
tuple(a)

(2, 3, 4, 5, 6, 7, 8, 9)

In [34]:
#Tuple inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
a

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [36]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    
    t = t+((name,age,add),)
    
print(t)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter add = Kathmandu
Enter name = Shyam
Enter age = 78
Enter add = Kathmandu
(('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Kathmandu'))

In [49]:
a = (('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Kathmandu'))
l = []
for i in a:
    x = list(i)
    l.append(x)
    
print(l)

[['Ram', 34, 'Kathmandu'], ['Shyam', 78, 'Kathmandu']]

In [50]:
a = [['Ram', 34, 'Kathmandu'], 
     ['Shyam', 78, 'Kathmandu']]
t = ()
for i in a:
    x = tuple(i)
    t = t+(x,)
    
t

(('Ram', 34, 'Kathmandu'), ('Shyam', 78, 'Kathmandu'))

In [51]:
# WAP to create matrix using tuple inside tuple

m = ()
r = int(input("Enter row = "))
c = int(input("Enter column = "))
for i in range(r):
    y = ()
    for j in range(c):
        x = int(input("Enter x = "))
        y = y+(x,)
    m = m +(y,)
print(m)

Enter row = 3
Enter column = 3
Enter x = 234
Enter x = 456
Enter x = 34
Enter x = 567
Enter x = 345
Enter x = 56
Enter x = 456
Enter x = 678
Enter x = 24
((234, 456, 34), (567, 345, 56), (456, 678, 24))

In [52]:
a = ((234, 456, 34), (567, 345, 56), (456, 678, 24))
for i in a:
    print(i)

(234, 456, 34)
(567, 345, 56)
(456, 678, 24)