In [1]:
# Dictionary
# -Indexed
# -Ordered
# -Multiple data
# -Mutable

In [2]:
# d = {<key>:<value>,<key>:<value>,key>:<value>}

In [4]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [10]:
print(a['c'])
print(len(a))

Cat
3

In [11]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
b = {'d':'dog'}
c = a+b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [12]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
print(a*2)

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [13]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
for i in a:
    print(i)

a
b
c

In [14]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
for i in a.values():
    print(i)

Apple
Ball
Cat

In [15]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [16]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
b = []
for i in a.items():
    b.append(i)
    
b

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]

In [17]:
dict(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [19]:
a = dict()
print(a)

{}

In [22]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d['a'] = 'Ant'
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [23]:
d = {1: 'Apple', 0: 'Ball', 100: 'Cat'}
d

{1: 'Apple', 0: 'Ball', 100: 'Cat'}

In [24]:
d = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d['f'] = 'Fish'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'f': 'Fish'}

In [27]:
d = {}
d['a'] = 'Apple'
d['b'] = 'Ball'
d['c'] = 'Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [31]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone  = int(input("Enter phone = "))
    d[name] = phone
    
print(d)

Enter n = 2
Enter name = Ram
Enter phone = 9878778765
Enter name = Shyam
Enter phone = 9808667643
{'Ram': 9878778765, 'Shyam': 9808667643}

In [33]:
d = {'Ram': 9878778765, 'Shyam': 9808667643}
d['Ram'] = 98086678665
d

{'Ram': 98086678665, 'Shyam': 9808667643}

In [38]:
d = {'Ram': 9878778765, 'Shyam': 9808667643}
del d['Ram']
print(d)

{'Shyam': 9808667643}

In [40]:
d = {'Ram': 9878778765, 'Shyam': 9808667643}
x = d.pop('Ram')
print(d)
print(x)

{'Shyam': 9808667643}
9878778765

In [41]:
d = {['Ram']: 9878778765, ['Shyam']: 9808667643}
d

TypeError: unhashable type: 'list'

In [42]:
d = {('Ram',): 9878778765, ('Shyam',): 9808667643}
d

{('Ram',): 9878778765, ('Shyam',): 9808667643}

In [43]:
#List inside dictionary
d = {'Ram':[980866765,980778765],'Shyam':[9867556543,9808556543]}
d

{'Ram': [980866765, 980778765], 'Shyam': [9867556543, 9808556543]}

In [45]:
info = {'Name':['Ram','Shyam'],'Age':[89,76],'Address':['Kathmandu','Lalitpur']}
info['Name']

['Ram', 'Shyam']

In [46]:
info = {'Name':['Ram','Shyam'],'Age':[89,76],'Address':['Kathmandu','Lalitpur']}
info['Name'][0]

'Ram'

In [48]:
info = {'Name':[],'Age':[],'Address':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info['Name'].append(name)
    info['Age'].append(age)
    info['Address'].append(add)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 67
Enter add = Kathmandu
Enter name = Shyam
Enter age = 89
Enter add = Bara
{'Name': ['Ram', 'Shyam'], 'Age': [67, 89], 'Address': ['Kathmandu', 'Bara']}

In [2]:
# dictionary inside list
a = [{'Name':'Ram','Age':34,'Add':'Kathmandu'},
    {'Name':'Shyam','Age':56,'Add':'Bhaktapur'},
    {'Name':'Hari','Age':89,'Add':'Lalitpur'}]

print(a[0])

{'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}

In [4]:
b = {'Name':'Hari','Age':89,'Add':'Lalitpur'}
a.append(b)
print(a)

[{'Name': 'Ram', 'Age': 34, 'Add': 'Kathmandu'}, {'Name': 'Shyam', 'Age': 56, 'Add': 'Bhaktapur'}, {'Name': 'Hari', 'Age': 89, 'Add': 'Lalitpur'}, {'Name': 'Hari', 'Age': 89, 'Add': 'Lalitpur'}]

In [5]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    data = {'Name':name,'Age':age,'Add':add}
    info.append(data)
    
print(info)

Enter n = 3
Enter name = Ram
Enter age = 45
Enter add = Kathmandu
Enter name = Shyma
Enter age = 89
Enter add = Kathmandu
Enter name = Nabin
Enter age = 23
Enter add = Lalitpur
[{'Name': 'Ram', 'Age': 45, 'Add': 'Kathmandu'}, {'Name': 'Shyma', 'Age': 89, 'Add': 'Kathmandu'}, {'Name': 'Nabin', 'Age': 23, 'Add': 'Lalitpur'}]

In [7]:
a = [{'Name': 'Ram', 'Age': 45, 'Add': 'Kathmandu'}, 
     {'Name': 'Shyma', 'Age': 89, 'Add': 'Kathmandu'}, 
     {'Name': 'Nabin', 'Age': 23, 'Add': 'Lalitpur'}]
a[0] = {'Name': 'Rama', 'Age': 25, 'Add': 'Bara'}
a

[{'Name': 'Rama', 'Age': 25, 'Add': 'Bara'},
 {'Name': 'Shyma', 'Age': 89, 'Add': 'Kathmandu'},
 {'Name': 'Nabin', 'Age': 23, 'Add': 'Lalitpur'}]

In [10]:
a = [{'Name': 'Ram', 'Age': 45, 'Add': 'Kathmandu'}, 
     {'Name': 'Shyma', 'Age': 89, 'Add': 'Kathmandu'}, 
     {'Name': 'Nabin', 'Age': 23, 'Add': 'Lalitpur'}]
a[0]['Name'] = 'Rama'
a

[{'Name': 'Rama', 'Age': 45, 'Add': 'Kathmandu'},
 {'Name': 'Shyma', 'Age': 89, 'Add': 'Kathmandu'},
 {'Name': 'Nabin', 'Age': 23, 'Add': 'Lalitpur'}]

In [12]:
# dict inside dict
d = {1:{'Name':'Ram','Per':80,'Pos':2},
    2:{'Name':'Shyam','Per':60,'Pos':20},
    3:{'Name':'Nabin','Per':78,'Pos':5}
    }
print(d)

{1: {'Name': 'Ram', 'Per': 80, 'Pos': 2}, 2: {'Name': 'Shyam', 'Per': 60, 'Pos': 20}, 3: {'Name': 'Nabin', 'Per': 78, 'Pos': 5}}

In [ ]:
WAP to create dict i